* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 40rem;
  background-color: #b1b1b1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
}
.square {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  border: 0.03rem solid black;
  transition: all 0.3s ease-out;
}
/* 
.div-1 {
  background-color: #000000;
}
.div-2 {
  background-color: blanchedalmond;
}
.div-3 {
  background-color: royalblue;
}
.div-4 {
  background-color: rosybrown;
}
.div-5 {
  background-color: lightgrey;
}
.div-6 {
  background-color: brown;
}
.div-7 {
  background-color: lightblue;
}
.div-8 {
  background-color: palevioletred;
} */
